@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: local("SFMono"),
        url("/fonts/Helvetica/Helvetica.ttf") format("TrueType");
}
@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/Helvetica-Bold.ttf") format("TrueType");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica/Helvetica-Light.ttf") format("TrueType");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica-Rounded";
    src: url("/fonts/Helvetica/Helvetica-Rounded-Bold.otf") format("TrueType");
    font-weight: bold;
}

:root {
    font-family: "Helvetica", serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    color: black;
    /* color-scheme: dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body > div#app {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

div#app > main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    button {
        outline: 0;
    }
}
