@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Typold-Black";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Black.otf") format("OpenType");
    font-weight: 700;
}
@font-face {
    font-family: "Typold";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Bold.otf") format("OpenType");
    font-weight: 700;
}
@font-face {
    font-family: "Typold-Book";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Book.otf") format("OpenType");
}
@font-face {
    font-family: "Typold-Book";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Book_500.otf") format("OpenType");
    font-weight: 500;
}
@font-face {
    font-family: "Typold-Condensed";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Condensed_Bold.otf") format("OpenType");
    font-weight: 700;
}
@font-face {
    font-family: "Typold-Condensed";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Condensed_Light.otf") format("OpenType");
    font-weight: 300;
}
@font-face {
    font-family: "Typold-Condensed";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Condensed_Medium.otf") format("OpenType");
    font-weight: 500;
}
@font-face {
    font-family: "Typold-Condensed";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Condensed_Regular.otf") format("OpenType");
}
@font-face {
    font-family: "Typold-Condensed";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Condensed_Thin.otf") format("OpenType");
    font-weight: 100;
}
@font-face {
    font-family: "Typold-Extended";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Extended_Bold.otf") format("OpenType");
    font-weight: 700;
}
@font-face {
    font-family: "Typold-Extended";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Extended_Light.otf") format("OpenType");
    font-weight: 300;
}
@font-face {
    font-family: "Typold-Extended";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Extended_Medium.otf") format("OpenType");
    font-weight: 500;
}
@font-face {
    font-family: "Typold-Extended";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Extended_Regular.otf") format("OpenType");
}
@font-face {
    font-family: "Typold-Extended";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Extended_Thin.otf") format("OpenType");
    font-weight: 100;
}
@font-face {
    font-family: "Typold";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Light.otf") format("OpenType");
    font-weight: 300;
}
@font-face {
    font-family: "Typold";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Medium.otf") format("OpenType");
    font-weight: 500;
}
@font-face {
    font-family: "Typold";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Regular.otf") format("OpenType");
}
@font-face {
    font-family: "Typold";
    src: local("Typold"),
        url("/fonts/Typold/Typold_Thin.otf") format("OpenType");
    font-weight: 100;
}

:root {
    font-family: "Typold-Book", serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    line-height: 1.5;
    color: black;
    /* color-scheme: dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body > div#app {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

div#app > main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    button {
        outline: 0;
    }
}
